<div class="row">
    <div class="col-lg-3 "></div>
    <div class="col-lg-6 col-sm-12">
        
        <div class="col-12" style="text-align: center;">
            <h4>Test Page</h4>

            <div class="row">
                <div class="col-4"><label class="control-label">Name</label></div>
                <div class="col-8"> <input type="text" class="form-control text" [(ngModel)]="EmpName"></div>
          
            </div>
            <div class="row" style="padding-top: 20px;">
                <div class="col-4"><label class="control-label">Address</label></div>
                <div class="col-8"> <input type="text" class="form-control text" [(ngModel)]="EmpAddress"></div>
          
            </div>
            <div class="row" style="padding-top: 20px;">
                <div class="col-5"></div>
                <div class="col-2">
                    <button class="btn btn-primary" (click)="InsertEmpDetails()" [hidden]="isShownSaveBtn">SAVE</button>
                </div>                
                <div class="col-5"></div>
            </div>
        </div>
        <div class="col-12" style="text-align: center;">
        <table class="table table-striped" style="border: solid 1px; margin-top: 15px;">
            <tr style="border-bottom: solid 1px; line-height: 28px; background-color: #1976d2; color: white;"><th style="border-right: solid 1px;">Name</th>
            <th>Address</th>
            </tr>
            <tr *ngFor="let emp of employees" style="border-bottom: solid 1px; line-height: 28px;">
                <td style="border-right: solid 1px;">{{emp.name}}</td>
                <td>{{emp.address}}</td>
            </tr>
        </table>
        </div>
    </div>
    <div class="col-lg-3 "></div>
</div>
